<?xml version="1.0"?>
<config>
    <modules>
        <Jvweb_Evobiz>
            <version>1.0.0</version>
        </Jvweb_Evobiz>
    </modules>
    <global>
        <blocks>
            <jvweb_evobiz>
                <class>Jvweb_Evobiz_Block</class>
            </jvweb_evobiz>
            <jvweb_evobiz_adminhtml>
                <class>Jvweb_Evobiz_Block_Adminhtml</class>
            </jvweb_evobiz_adminhtml>
        </blocks>
        <models>
            <jvweb_evobiz>
                <class>Jvweb_Evobiz_Model</class>
            </jvweb_evobiz>
        </models>
        <helpers>
            <jvweb_evobiz>
                <class>Jvweb_Evobiz_Helper</class>
            </jvweb_evobiz>
        </helpers>
        <!--
        <resources>
            <jvweb_evobiz_setup>
                <setup>
                    <module>Jvweb_Evobiz</module>
                </setup>
            </jvweb_evobiz_setup>
        </resources>
        -->
        <!--
        <events>
            <catalog_product_load_after>
                <observers>
                    <jvweb_evobiz>
                        <class>jvweb_evobiz/observer</class>
                        <method>catalogProductLoadAfter</method>
                    </jvweb_evobiz>
                </observers>
            </catalog_product_load_after>
        </events>
        -->
    </global>
    <frontend>
        <!--
        <routers>
           <jvweb_evobiz>
               <use>standard</use>
               <args>
                   <module>Jvweb_Evobiz</module>
                   <frontName>mgt</frontName>
               </args>
           </jvweb_evobiz>
        </routers>
        -->
        <layout>
            <updates>
                <jvweb_evobiz>
                    <file>jvweb_evobiz.xml</file>
                </jvweb_evobiz>
            </updates>
        </layout>
    </frontend>
    <!--
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Jvweb_Evobiz before="Mage_Adminhtml">Jvweb_Evobiz_Adminhtml</Jvweb_Evobiz>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    -->
    <!--
    <crontab>
        <jobs>
            <jvweb_evobiz_cron>
                <schedule>
                    <cron_expr>0,45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>jvweb_evobiz/observer::methodName</model>
                </run>
            </jvweb_evobiz_cron>
        </jobs> 
    </crontab>
    -->
</config>
